@use 'variables';

.ServiceChoiceButtonContent {
	margin: 10px 0px 10px 0px;
	font-size: 20px;
	color: variables.$text;
	background: variables.$button;
	text-align: left;
	text-transform: capitalize;
}

.ServiceChoiceButton {
	margin: 7px;
	display: inline;
	border: none;
	background: variables.$button;
	cursor: pointer;
}

.ServiceChoiceButton:hover,
.ServiceChoiceButton:hover .ServiceChoiceButtonContent {
	background: variables.$hover;
}

.ServiceChoiceButtonIcon {
	margin: 0px 20px 0px 20px;
	display: inline;
	color: variables.$yellow;
}

.GetMeThereButton {
	margin: 0.5em 0 0.5em 0;
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	border-radius: 5px;
	font-weight: bold;
	max-width: 40%;
	color: variables.$background;
	border: none;
	background-color: variables.$yellow;
}

.GetMeThereButton:hover {
	cursor: pointer;
}

.GetMeThereContainer {
	text-align: center;
}
