@use 'variables';

* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	background-color: variables.$background;
	box-sizing: border-box;
	margin: 0;
}

input:-webkit-autofill {
	-webkit-text-fill-color: variables.$text !important;
}
